body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: #121212;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  align-self: center;
}

.score-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
  margin: 2em;
  font-size: 2em;
}

#computer-score:after {
  display: block;
  content: "Machine";
}

#human-score:after {
  display: block;
  content: "Human";
}

.opt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em;
  gap: 2em;
}

.opt {
  border: 1px solid white;
  padding: 1em;
}

.opt:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem white;
}

#comments {
  align-self: center;
  /* color: red; */
}

#btn {
  align-self: center;
  margin: 1em;
}
